.button {
  display: inline-block;

  padding: 6px 20px;
  margin: 0;

  overflow: hidden;

  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #eee;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;

    &:hover {
      color: #eee;
      background-color: #222;
      transition: background-color 500ms ease;
    }

    &__front {
      font-size: 2.5rem;
      opacity: 0;
      animation: lina3 1s ease-in-out 2s 1 forwards;

        @keyframes lina3 {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }
    }

    &__bar {
      border-radius: 4px;
      font-size: 1rem;
      padding: 4px 8px;
    }

    &__long {
      padding: 15px 100px;
    }

    &__order {
      padding: 10px 120px;
      font-size: 1.2rem;
    }
}
