.button {
  display: inline-block;

  padding: 3px 15px;
  margin: 0;

  overflow: hidden;

  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: #eee;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;

    &:hover {
      color: #eee;
      background-color: #222;
    }

    &__front {
      font-size: 2.5rem;
    }

    &__bar {
      display: flex;
      border-radius: 4px;
      font-size: 1rem;
      padding: 4px 8px;
    }
}
