.heading {
  font-family: "Roboto Slab", serif;
  word-break: break-all;

  &__cover {
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 20vh;
    padding-left: $gutter;
    font-size: 3.5rem;
    color: #fff;
  }

  &__about {
    padding-bottom: 2rem;
  }

  &__element {
    padding-top: 5rem;
    font-family: monospace;
    font-size: 4rem;
    color: #363;
    border-bottom: solid #999 1px;
  }

  &__front-head1 {
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
    animation: lina1 1s ease-in 1;

    @media (max-width: 599px) {
      font-size: 1.5rem;
    }

    @keyframes lina1 {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  }

  &__front-head2 {
    padding-bottom: 3rem;
    font-size: 4rem;
    opacity: 0;
    animation: lina2 1s ease-in 1s 1 forwards;

    @media (max-width: 599px) {
      font-size: 3rem;
    }

    @keyframes lina2 {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}
