.heading {
  width: 100%;

  font-family: Merriweather, georgia, serif;
  font-size: 2rem;

  &--one {
    font-size: 3rem;
  }

  &--two {
    font-size: 2rem;
    color: #ddd;
  }

  &--three {
    font-size: 1rem;
  }
}
