.header {
  font-family: 'Open Sans', sans-serif;

  &__index {
    background: transparent url(media/bg.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    padding: 18rem 0;

    @media(max-width: 599px) {
      background: transparent url(media/bg.jpg) no-repeat fixed 10% 100%;
      padding: 8rem 0;
    }
  }

  &__norm {
    background: transparent url(media/bg-subpage.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    padding: 12rem 0;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;

    .header--lina1 {
      font-size: 1.2rem;
      font-weight: 300;
      opacity: 1;
      animation: lina1 1.5s ease-in 1;

        @media(max-width: 599px) {
          font-size: 1rem;
        }

      }
    @keyframes lina1 {
    	0% {opacity: 0;}
    	100% {opacity: 1;}
    }

    .header--lina2 {
      font-size: 2rem;
      padding-bottom: 3rem;
      opacity: 0;
      animation: lina2 1.5s ease-in 1s 1 forwards;

        @media(max-width: 599px) {
          font-size: 1.5rem;
        }

    @keyframes lina2 {
    	0% {opacity: 0;}
    	100% {opacity: 1;}
    }
    }

      .header--button {
        opacity: 0;
        animation: lina3 1.5s ease-in-out 2s 1 forwards;

        :hover {
          transition: background-color 500ms ease;
        }
      }
      @keyframes lina3 {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
  }


  &__bar {
    display: inline-flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 2rem;
    border-bottom: solid black 1px;

    .bar--menu {
      display: inline-flex;
      justify-content: space-between;
      font-size: 1.5rem;
    }

    .bar--button {
      padding-left: 1rem;
      align-self: center;

      :hover {
        transition: background-color 500ms ease;
      }
        @media(max-width: 400px) {
          display: none;
        }
    }

    .bar--text {
      font-size: 1rem;
      text-decoration: none;
      align-self: center;

      a:link {
        text-decoration: none;
        color: #fff;
      }
      a:visited {
        color: #fff
      }
    }

    .bar--logo {
      font-size: 1.5rem;
      font-family: 'Roboto Slab', serif;
      float: left;
      align-self: center;
      font-weight: 600;

        a:link {
          text-decoration: none;
          color: #fff;
        }
        a:visited {
          color: #fff
        }
    }
    }
  }
