.heading {
  font-family: 'Roboto Slab', serif;
  word-break: break-all;

  &__cover {
    font-size: 4rem;
    color: #fff;
    padding-left: 5vw;
    padding-top: 20vh;
  }

  &__element {
    font-size: 4rem;
    border-bottom: solid #999 1px;
    font-family: monospace;
    color: #363;
    padding-top: 5rem;
  }

  &__front-head1 {
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
    animation: lina1 1s ease-in 1;

      @media(max-width: 599px) {
        font-size: 1.5rem;
      }

        @keyframes lina1 {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }
  }

  &__front-head2 {
    font-size: 4rem;
    padding-bottom: 3rem;
    opacity: 0;
    animation: lina2 1s ease-in 1s 1 forwards;

      @media(max-width: 599px) {
        font-size: 3rem;
      }

        @keyframes lina2 {
          0% {opacity: 0;}
          100% {opacity: 1;}
        }
  }
}
