.header {
  font-family: 'Open Sans', sans-serif;

  &__index {
    background: transparent url(media/bg.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    padding: 15rem 0em;
  }

  &__norm {
    background: transparent url(media/bg-subpage.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    padding: 15rem 0em;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;

      h1 {
        font-size: 4rem;
        font-family: 'Roboto Slab', serif;
        padding-bottom: 1rem;
      }

      h2 {
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
      }
  }

  &__button:hover {
    transition: background-color 500ms ease;
  }

  &__bar {
    display: inline-flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 2rem;
    border-bottom: solid black 1px;

    .bar--menu {
      display: inline-flex;
      justify-content: space-between;
      align-items: baseline;
      float: right;
      font-size: 1.5rem;
    }

    .bar--button {
      padding-left: 1rem;
      align-self: center;

      :hover {
        transition: background-color 500ms ease;
      }
        @media(max-width: 400px) {
          display: none;
        }
    }

    .bar--text {
      font-size: 1rem;
      text-decoration: none;
      align-self: center;

      a:link {
        text-decoration: none;
        color: #fff;
      }
      a:visited {
        color: #fff
      }
    }

    .bar--logo {
      font-size: 1.5rem;
      font-family: 'Roboto Slab', serif;
      float: left;
      align-self: center;
      font-weight: 600;

        a:link {
          text-decoration: none;
          color: #fff;
        }
        a:visited {
          color: #fff
        }
    }
    }
  }
