/* staðsetning fyrir animation textan í headernum */

.heading--index {
  display: flex;
  padding-top: 25vh;
  align-items: center;
  flex-direction: column;
}

/* Index síðan.. fyrsti hluti af henni.. 3 punktar og mynd */
.padder {
  padding: 6rem 0;

  @media (max-width: 600px) {
    padding: 4rem 0;
  }
}

.info-index {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: row;

  @media (max-width: $width-mid) {
    padding: 2rem 0;
  }

  &__check {
    width: 5%;
  }

  &__text {
    display: flex;
    width: 95%;
    flex-direction: column;
  }

  &__img {
    max-width: 100%;
  }
}

/* Prófílarnir/meðmælendur þrjár einingar */

.profill {
  font-style: "Open Sans", sans-serif;

  &__content {
    display: flex;
    padding-bottom: 6rem;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    max-width: 75%;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
  }

  &__text {
    text-align: center;

    .quote {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: bolder;
    }

    .nafn {
      font-size: 1rem;
      font-weight: bold;
    }

    .lengd {
      font-size: 0.8rem;
      color: #808080;
    }
  }
}

/* kaupatakkinn neðst á index ásamt heading */

.buy {
  padding-bottom: 6rem;
  margin: auto;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding-bottom: 1.6rem;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    font-weight: bold;

    @media (max-width: $width-mid) {
      font-size: 1.6rem;
    }
  }

  &__button {
    display: flex;
  }
}
