/* staðsetning fyrir animation textan í headernum*/

.heading--index {
  display: flex;
  padding-top: 25vh;
  align-items: center;
  flex-direction: column;
}

/*Index síðan.. fyrsti hluti af henni.. 3 punktar og mynd*/
.padder {
    padding: 6rem 0;

     @media(max-width: 600px) {
       padding: 4rem 0;
     }
}

  .info-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .info {
    display: flex;
    flex-direction: row;

    @media(max-width: $width-mid) {
      padding: 2rem 0;
    }

    &__check {
      width: 5%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      width: 95%;
    }

    &__img {
      max-width: 100%;
    }
  }

/*Prófílarnir/meðmælendur þrjár einingar*/

.profill {
  font-style: 'Open Sans', sans-serif;
  border: solid blue 5px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6rem;
  }

  &__img {
    display: inline-block;
    position: relative;
    max-width: 75%;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }

  &__text {
    text-align: center;

    .quote {
      font-style: italic;
      font-weight: bolder;
      font-size: 1.4rem;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .nafn {
      font-weight: bold;
      font-size: 1rem;
    }

    .lengd {
      font-size: 0.8rem;
      color: #808080;
    }
  }
}

/*kaupatakkinn neðst á index ásamt heading*/

.buy {
  margin: auto;
  padding-bottom: 6rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding-bottom: 1.6rem;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: bold;

      @media(max-width: $width-mid) {
        font-size: 1.6rem;
      }
  }

  &__button {
    display: flex;
  }
}
