.text {

  &__half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    @media (max-width: 600px) {
      justify-content: flex-start;
      max-height: 50%;
    }
  }

  &__quote {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-style: italic;
}

  p {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

//Allt hérna innan þetta comments eru classar fyrir kaup.html
.heild {
  display: flex;
  margin: 4rem;
}

.personu {
  margin: auto;
}

.greidslu {
  padding: 6rem;
  margin: auto;
}

.takki__panta {
  width: 100%;
  max-width: 7rem;
  height: 100%;
  margin: auto;
  align-items: center;
}
