.Texti {
  margin: 1.5rem;

  p {
    padding-bottom: 9px;
    padding-top: 9px;
  }

  &__titill {
    padding-bottom:2rem;
  }

  &__segdinheild {
    display: flex;
  }

  &__segdinheild p {
    max-width: 40rem;
  }

  &__segdin {
    padding-left: 5rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    max-width: 70rem;
    margin: auto;
  }

  &__segdin q {
    font-size: 1.8rem;
    font-family: open-sans;
 }
}
//Allt hérna innan þetta comments eru classar fyrir kaup.html
.heild{
  display: flex;
  margin: 4rem;
}
.personu{
  margin: auto;
}
.greidslu{
 margin: auto;
 padding: 6rem;
}
.takki__panta{
width: 100%;
max-width: 7rem;
height: 100%;
margin: auto;
align-items: center;
}
