.Texti {
  margin: 1.5rem; }
  .Texti p {
    padding-bottom: 9px;
    padding-top: 9px; }
  .Texti__titill {
    padding-bottom: 2rem; }
  .Texti__segdinheild {
    display: flex; }
  .Texti__segdinheild p {
    max-width: 40rem; }
  .Texti__segdin {
    padding-left: 5rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    max-width: 70rem;
    margin: auto; }
  .Texti__segdin q {
    font-size: 1.8rem;
    font-family: open-sans; }

.heild {
  display: flex;
  margin: 4rem; }

.personu {
  margin-right: 5rem;
  width: 100%; }

.greidslu {
  margin-left: 15rem;
  width: 100%; }

.takki__panta {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }

.heild input {
  margin: 10px;
  max-width: 378px;
  width: 100%; }

.heild select {
  margin: 10px;
  max-width: 378px;
  width: 100%; }

.valid {
  display: flex; }

.valid select {
  max-width: 60px; }
ty: 0; }
  100% {
    opacity: 1; } }
on: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 2rem;
  border-bottom: solid black 1px; }
  .bar__menu {
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.5rem; }
  .bar__button {
    display: flex;
    padding-left: 1rem;
    align-self: center; }
    @media (max-width: 400px) {
      .bar__button {
        display: none; } }
  .bar__text {
    font-size: 1rem;
    text-decoration: none;
    align-self: center; }
    .bar__text a:link {
      text-decoration: none;
      color: #fff; }
    .bar__text a:visited {
      color: #fff; }
  .bar__logo {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    float: left;
    align-self: center;
    font-weight: 600; }
    .bar__logo a:link {
      text-decoration: none;
      color: #fff; }
    .bar__logo a:visited {
      color: #fff; }
