.Texti {
  margin: 1.5rem; }
  .Texti p {
    padding-top: 9px;
    padding-bottom: 9px; }
  .Texti__titill {
    padding-bottom: 2rem; }
  .Texti__segdinheild {
    display: flex; }
  .Texti__segdinheild p {
    max-width: 40rem; }
  .Texti__segdin {
    max-width: 70rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 5rem;
    margin: auto; }
  .Texti__segdin q {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem; }

.heild {
  display: flex;
  margin: 4rem; }

.personu {
  margin-right: 5rem;
  width: 100%; }

.greidslu {
  margin-left: 15rem;
  width: 100%; }

.takki__panta {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }

.heild input {
  margin: 10px;
  max-width: 378px;
  width: 100%; }

.heild select {
  margin: 10px;
  max-width: 378px;
  width: 100%; }

.valid {
  display: flex; }

.valid select {
  max-width: 60px; }
