@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }
  @media (max-width: 600px) {
    main {
      padding: 0 20px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 600px) {
    .col-mid-12 {
      width: 100%; }
    .col-mid-6 {
      width: 50%;
      margin: 0 auto; } }
  @media (max-width: 400px) {
    .col-small-12 {
      width: 100%; } }

.header {
  font-family: "Open Sans", sans-serif; }
  .header__index {
    height: 100vh;
    background: transparent url("media/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2); }
    @media (max-width: 599px) {
      .header__index {
        height: 70vh;
        background: transparent url("media/bg.jpg") no-repeat fixed 10% 100%; } }
  .header__norm {
    height: 55vh;
    background: transparent url("media/bg-subpage.jpg") no-repeat 50% 50%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2); }
    @media (max-width: 599px) {
      .header__norm {
        height: 70vh;
        background: transparent url("media/bg-subpage.jpg") no-repeat 10%;
        background-size: cover; } }

.bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 3rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: solid #333 1px; }
  .bar__menu {
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.5rem; }
  .bar__button {
    display: flex;
    padding-left: 1rem;
    align-self: center; }
    @media (max-width: 400px) {
      .bar__button {
        display: none; } }
  .bar__text {
    font-size: 1rem;
    text-decoration: none;
    align-self: center; }
    .bar__text a:link {
      color: #fff;
      text-decoration: none; }
    .bar__text a:visited {
      color: #fff; }
  .bar__logo {
    float: left;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    align-self: center;
    font-weight: 600; }
    .bar__logo a:link {
      color: #fff;
      text-decoration: none; }
    .bar__logo a:visited {
      color: #fff; }

.footer {
  font-style: "Open Sans", sans-serif;
  text-align: center;
  background-color: #222;
  margin-top: 6rem; }
  @media (max-width: 600px) {
    .footer {
      margin-top: 4rem; } }
  .footer__top {
    display: flex;
    max-width: 600px;
    padding: 1rem 0;
    margin: auto;
    justify-content: space-around;
    font-size: 1rem;
    color: #ddd;
    flex-direction: row;
    align-items: center; }
    .footer__top .footer--left {
      display: flex;
      flex-direction: column; }
    .footer__top .footer--right {
      display: flex;
      flex-direction: column; }
  .footer__bottom {
    padding: 1rem 0;
    color: #999;
    border-top: solid #999 1px; }

.heading {
  font-family: "Roboto Slab", serif;
  word-break: break-all; }
  .heading__cover {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20vh;
    padding-left: 20px;
    font-size: 3.5rem;
    color: #fff; }
  .heading__about {
    padding-bottom: 2rem; }
  .heading__element {
    padding-top: 5rem;
    font-family: monospace;
    font-size: 4rem;
    color: #363;
    border-bottom: solid #999 1px; }
  .heading__front-head1 {
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
    animation: lina1 1s ease-in 1; }
    @media (max-width: 599px) {
      .heading__front-head1 {
        font-size: 1.5rem; } }

@keyframes lina1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .heading__front-head2 {
    padding-bottom: 3rem;
    font-size: 4rem;
    opacity: 0;
    animation: lina2 1s ease-in 1s 1 forwards; }
    @media (max-width: 599px) {
      .heading__front-head2 {
        font-size: 3rem; } }

@keyframes lina2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.text__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%; }
  @media (max-width: 600px) {
    .text__half {
      justify-content: flex-start;
      max-height: 50%; } }

.text__quote {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-style: italic; }

.text p {
  padding-top: 9px;
  padding-bottom: 9px; }

.heild {
  display: flex;
  margin: 4rem; }

.personu {
  margin: auto; }

.greidslu {
  padding: 6rem;
  margin: auto; }

.takki__panta {
  width: 100%;
  max-width: 7rem;
  height: 100%;
  margin: auto;
  align-items: center; }

.button {
  display: inline-block;
  padding: 6px 20px;
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px; }
  .button:hover {
    color: #eee;
    background-color: #222;
    transition: background-color 500ms ease; }
  .button__front {
    font-size: 2.5rem;
    opacity: 0;
    animation: lina3 1s ease-in-out 2s 1 forwards; }

@keyframes lina3 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .button__bar {
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 4px; }
  .button__long {
    padding: 15px 100px; }
  .button__order {
    padding: 10px 120px;
    font-size: 1.2rem; }

/* staðsetning fyrir animation textan í headernum */
.heading--index {
  display: flex;
  padding-top: 25vh;
  align-items: center;
  flex-direction: column; }

/* Index síðan.. fyrsti hluti af henni.. 3 punktar og mynd */
section {
  margin-top: 6rem; }
  @media (max-width: 600px) {
    section {
      margin-top: 4rem; } }

.info-index {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around; }

.info {
  display: flex;
  flex-direction: row; }
  @media (max-width: 600px) {
    .info {
      margin: 2rem 0; } }
  .info__check {
    width: 5%; }
  .info__text {
    display: flex;
    width: 95%;
    flex-direction: column; }
  .info__img {
    max-width: 100%; }
    @media (max-width: 600px) {
      .info__img {
        margin-top: 2rem; } }

/* Prófílarnir/meðmælendur þrjár einingar */
.profill {
  font-style: "Open Sans", sans-serif; }
  .profill__content {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 600px) {
      .profill__content {
        margin-top: 4rem; } }
  .profill__img {
    display: inline-grid;
    max-width: 75%;
    margin: auto;
    overflow: hidden;
    border-radius: 50%; }
  .profill__text {
    text-align: center; }
    .profill__text .quote {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: bolder; }
    .profill__text .nafn {
      font-size: 1rem;
      font-weight: bold; }
    .profill__text .lengd {
      font-size: 0.8rem;
      color: #808080; }

/* kaupatakkinn neðst á index ásamt heading */
.buy {
  margin: auto; }
  .buy__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .buy__text {
    padding-bottom: 1.6rem;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    font-weight: bold; }
    @media (max-width: 600px) {
      .buy__text {
        font-size: 1.6rem; } }
  .buy__button {
    display: flex; }
